
<div id="header">
    <div class="header-logo">
      <img src="assets/Logo1.png" alt="" style="width: 60px"/>
    </div>
    <div class="header-list">
      <nav class="header-list-nav">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </nav>
      <div class="header-list-icon">
        <a href=""><i class="fa fa-bag-shopping"></i></a>
      </div>
    </div>
  </div>








  
